@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --Fundo: #1F2937;
    --textoPrincipal: #F9FAF8;
    --textoSegundario: #E5E7EB;
    --corBotão: #3882F6;
    --informação: #1F2937;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}



header{
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: var(--Fundo);
    justify-content: space-between;
}

header h3{
    color: var(--textoPrincipal);
    margin-left: 250px;
    margin-top: 25px;
    font-size: 24px;
}

.linksHeader{
    margin-top: 25px;
    margin-right: 100px;
    font-size: 14px;
}

.linksHeader a{
    display: inline;
    color: var(--textoPrincipal);
    margin-right: 50px;
    font-size: 16px;
}

#container {
    height: 150vh;
    width: 100vw;
    max-width: 100vw;
}

.subHeader{
    display: flex;
    width: 100vw;
    height: 45vh;
    background-color: var(--Fundo);
}

.title{
    flex-direction: column;
    width: 50vw;
    height: 40vh;
}

.title h1{
    color: var(--textoPrincipal);
    margin-left: 250px;
    margin-top: 45px;
    font-size: 48px;
    font-weight: 900;
}

.title p{
    display: flex;
    margin-left: 250px;
    color: var(--textoSegundario);
    font-size: 18px;
}

.title button{
    width: 10vw;
    font-size: 24px;
    height: 5vh;
    margin-left: 250px;
    margin-top: 10px;
    color: var(--textoPrincipal);
    background-color: var(--corBotão);
    border-radius: 15px;
    border: none;
    transition: transform 0.5s ease, border 0.3s ease;
    cursor: pointer;
}
.imgsubHeader{
    display: flex;
    width: 50vw;
    height: 40vh;
}
.imgsubHeader img{
    margin-top: 20px;
    width: 35vw;
    height: 35vh;
}

.randomInformation{
    display: flex;
    width: 100vw;
    height: 8vh;
    background-color: var(--textoPrincipal);
    justify-content: center;
}

.randomInformation h3{
    color: var(--informação);
    font-size: 36px;
    font-weight: 900;
    margin-top: 20px;
}

.masterSquare{
    background-color: var(--textoPrincipal);
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 20px;               
    padding: 40px;
    border-radius: 15px;
}

.box {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 10px;              
}

.square {
    width: 150px;
    height: 150px;
    background-color: white; 
    border: 6px solid blue;
    border-radius: 10px;
    box-sizing: border-box;
}


.box p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
    margin: 0;
    margin-bottom: 25px;
}

.aboutWeb{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 30vh;
    background-color: var(--textoSegundario);
    font-weight: 300;
}

.aboutWeb p{
    color: var(--informação);
    font-style: italic;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 24px;
    align-items: center;
    justify-content: center;
}

.aboutWeb h5{
    margin-left: 250px;
    font-size: 16px;
}

.lastCall{
    display: flex;
    height: 37vh;
    align-items: center;
    justify-content: center;
}

.lastCard {
    background-color: #5a5bff; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    border-radius: 6px;
    font-family: Arial, sans-serif;
    max-width: 70vw;
    margin: 50px auto; 
}

.txtCard {
    max-width: 60%;
}

.txtCard h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.txtCard p {
    font-size: 1rem;
    color: #e0e0e0;
}

.last-button {
    border: 2px solid white;
    color: white;
    background: transparent;
    padding: 10px 24px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

footer{
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: center;
    background-color: var(--Fundo);
    color: var(--textoPrincipal);
}

