* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.575);
    background-image: rgb(37, 34, 34);
}

#container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.topo{
    display: flex;
    width: 47vw;
    height: 15vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-size: 32px;
}

.topo button{
    height: 5vh;
    width: 15vw;
    background-color: rgb(134, 99, 99);
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    color: white;
    border: none;
    border-radius: 20px;
    opacity: 0.8;
    font-size: 16px;
}

.game{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
}

.game button{
    width: 15vw;
    height: 15vh;
    margin: 5px;
    cursor: pointer;
    font-size: 50px;
    background: rgba(255, 255, 255, 0.486);
}

.reset{
    display: flex;
    height: 5vh;
    width: 15vw;
}

.reset button{
    height: 5vh;
    width: 15vw;
    background-color: rgb(134, 99, 99);
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    color: white;
    border: none;
    border-radius: 20px;
    opacity: 0.8;
    font-size: 16px;
}